{% if self.strike || self.hide_comment %}
    &#187;&nbsp;<a href="javascript:get_votes('get_comment.php','comment','cid-{{ self.prefix_id }}{{ self.id }}',0,{{ self.id }})" title="{% trans 'комментарий скрыт' %}">
        {% if self.strike %} {% trans 'скрытый комментарий по штрафу' %}: {{ self.strike.reason_message }}
        {% else %} {% trans 'посмотреть комментарий' %}
        {% endif %}
    </a>
	
{% else %}
    {{ self.txt_content }}

    {% if self.media_size > 0 %}
   &nbsp;<a class="fancybox" title="({{ self.media_size }} байт)" href="{{ self.media_url }}"><img class="thumb ok lazy" src="{{ self.media_url }}"></a>
    {% if self.is_truncated %}
        &nbsp;&nbsp;<a href="javascript:get_votes('get_comment.php','comment','cid-{{ self.prefix_id }}{{ self.id }}',0,{{ self.id }})" title="{% trans _('Остальная часть комментария') %}">&#187;&nbsp;{% trans _('смотреть полный текст') %}</a>
    {% endif %}
    {% endif %}

    {% if self.can_edit %}
        &nbsp;&nbsp;<a
        href="javascript:comment_edit({{ self.id }}, 'cid-{{ self.prefix_id }}{{ self.id }}')"
        title="{% trans _('редактировать комментарий') %}" class="mini-icon-text" ><i class="lnr lnr-pencil"></i></a>
    {% endif %}
{% endif %}
