</div>

<div id="footer">
 <div class="footer-s">
 
{% if globals.mobile %}
     © 2019 sugata.ru &nbsp; &nbsp; 
     &nbsp; <a href="{{ globals.base_url_sugata }}/help">помощь</a>  
 {% else %}
 
    © 2019 sugata.ru — делитесь историями &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <a href="{{ globals.base_url_sugata }}/help">помощь</a> &nbsp;&#47;&nbsp;
	<a href="{{ globals.base_url_sugata }}/legal">конфидициальность</a>  
	<a class="rin" href="{{ globals.base_url_sugata }}/rss">rss</a>
	 

	
{% endif %}
 </div>
</div>

</div>

</div> {# #variable #}

<div id='backTop'><i class="lnr lnr-arrow-up" aria-hidden="true"></i></div>

{% include 'footer_js.html' %}
{% try_include 'private/footer.html' %}

{% meneame_endtime %}

{% if ! globals.partial %}

{# warn warn warn dont do stats of password recovering pages #}




</body>
{% endif %} {# PARTIAL #}




</html>
