{% if sponsored %}
{% try_include 'private/sponsored/link.html' %}
{% else %}
<div class="news-summary">
    <div class="news-body">
        {% if self.status == 'abuse' OR self.has_warning %}
        {% if self.status == 'abuse' %}
        <div class="warn"><strong>{% trans _('Предупреждение') %}</strong>
            {% trans _('новости скрываются за нарушение') %}
            <a href="{{ globals.legal }}#tos">{% trans _('см. правила использования') %}</a>
        </div>
        {% else %}
        {% if self.has_warning %}
        <div class="warn{% if self.comments > 10 AND globals.now - self.date < 864000 %} tooltip w:{{ self.id }}{% endif %}">
            {% if self.status == 'published' %}
            {% trans _('Неправильная или спорная доставка, пожалуйста, прочитайте комментарии.') %}
            {% else %}
            {% if self.author == current_user.user_id AND self.is_editable %}
            {% trans _('Эта ветка имеет несколько отрицательных голосов.') %} {% trans _('Ваша карма не будет затронута, если вы скроеете пост вручную.') %}
            {% else %}
            {% if self.negative_text %}
            {% trans  _('Этот груз может быть') %} <strong>{{ self.negative_text }}</strong>
            {% else %}
            {% trans _('Эта ветка имеет несколько отрицательных голосов.') %}
            {% endif %}
            <a href="{{ self.relative_permalink }}">{% trans _('Убедитесь, что') %}</a> {% trans _('перед покачиванием') %}
            {% endif %}
            {% endif %}
        </div>
        {% endif %}
        {% endif %}
        {% endif %}
        {# {% if globals.ads %}<!-- google_ad_section_start -->{% endif %} #}

        {% if self.url %}
        {% exec htmlspecialchars self.url as url %}
        <h3>
        <a href="{{ url }}" class="l:{{ self.id }}"
           {% if self.status != 'published' %} rel="nofollow"{% endif %}>{{ self.title }}
        </a>
        {% if self.content_type == 'image' %}
        <span class="warn-foto">фото</span>
        {% else %} {% if self.content_type == 'video' %}
        <span class="warn-video">видео</span>
        {% endif %}
        {% endif %}
        </h3>
        {% else %}
        <h3><a href="{{ self.permalink }}" class="l:{{ self.id }}">{{ self.title }}</a></h3>
        {% endif %}

        {% if ! globals.bot %}
        <div class="news-submitted">
	 
            {% if type != 'short' %}
            <a href="{{ self.username | useruri }}" class="tooltip u:{{ self.author }}"><img src="{{ globals.base_static }}img/g.gif" data-src="{% exec get_avatar_url self.author, self.avatar, 25, false %}" data-2x="s:-25.:-40." alt="{{ self.username }}" class="lazy"/></a>
            {% endif %}
			
            {% trans _(' ') %} <a href="{% exec get_user_uri self.username, 'history' %}">{{ self.username }}</a>
			
            {% if self.url %}
			      {% trans _(' &nbsp;   ') %} 
						
		<span class="s-url">
          <span rel="nofollow" class="showmytitle" title="{{ url }}">{{ self.url_str }} &nbsp;
<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
		</a></span> 
			
            {% endif %}
			
&nbsp;<span class="data">

            {% if self.status != 'published' %}
            {% trans _('проект: ') %}
            {% endif %}
          <span data-ts="{{ self.sent_date }}" class="ts visible" title="{% trans _('проект') %}: ">____ {{ self.sent_date }}</span>
</span>		  
        </div>
        {% endif %}

        {% if type == 'full' OR type == 'preview' %}


        {% if self.thumb_uri %}
    
	   <a href="{{ self.media_url }}" class="fancybox" title="{% trans _('miniatura') %}"><img data-2x='s:thumb:thumb_2x:' data-src='{{ self.thumb_uri }}' src="{{ globals.base_static }}img/g.gif" alt="{{ self.title }}" class='thumbnail lazy'/></a>
         {% endif %}

        {{ self.content }}

        {% if type != 'preview' %}
        {% if self.is_editable %}
        &nbsp;&nbsp;<a href="{% get_url 'submit?step=2&amp;id=' self.id '&amp;user=' current_user.user_id %}" title="{% trans _('редактировать новости') %} #{{ self.id }}" class="mini-icon-text edit-link"><i class="lnr lnr-pencil"></i></a>
        {% endif %}

        {% if self.map_editable %}
        &nbsp;&nbsp;<a href="#" onclick="$('#geoedit').load('{% get_url  "geo/get_form.php?id=" self.id  "&amp;type=link&amp;icon=" self.status %}'); return false;">
        <img class="mini-icon-text" src="{{ globals.base_static }}img/common/edit-geo01.png" alt="edit" title="{% trans _('editar geolocalización') %}"/></a>
        {% endif %}
        {% endif %}
        {% endif %}


        {% if self.do_inline_friend_votes AND self.friend_votes %}
        <div style="padding: 3px 0 2px 0;">
            {% for vote in self.friend_votes %}
            <a href="{{ vote.user_login | useruri }}" title="{{ vote.user_login }}: {% trans _('valor') %} {{ vote.vote_value }}"><img class="avatar" src="{% exec get_avatar_url vote.user_id vote.user_avatar 40 %}" width="40" height="40" alt="{{ vote.user_login }}"/></a>&nbsp;&nbsp;
            {% endfor %}
        </div>
        {% endif %}

        {% if globals.link OR ((self.is_editable OR self.status == 'queued') AND globals.now - self.date < 7200) OR type == 'short' %}
        {% if self.show_tags AND self.tags %}
        <br/><span class="news-tags"><strong>{% trans _('теги') %}</strong>:
        {% exec explode "," self.tags as tags_array %}
        {% for id, tag in tags_array %}{% if id > 0 %}, {% endif %}<a class="tag" href='{{ globals.base_url }}search?p=tags&amp;q={{ tag|urlencode }}'>{{ tag }}</a>{% endfor %}

        {# Show link to analyze the tags #}
        {% if globals.fancybox_enabled AND globals.sphinx_server AND self.is_editable OR self.author == current_user.user_id %}
        &nbsp;[<a class="fancybox" href="{{ globals.base_url_general }}backend/tags_analysis?id={{ self.id }}" title="{% trans _('диагностика тега') %}"><strong>{% trans _('диагностика') %}</strong></a>]
        {% endif %}

        </span>
        {% endif %}
        {% endif %}
        {# {% if globals.ads %}<!-- google_ad_section_end -->{% endif %} #}

        <div class="news-details">
            <div class="news-details-main">
			
            {% if self.show_shakebox %}
            <!--div class="news-shakeit {{ self.box_class }}" --> <div class="news-vote">

                {% if not globals.bot %}
                <span class="sugata" id="a-va-{{ self.id }}">
				
                    {% if not self.votes_enabled %}
                    <span class="closed"><i class="lnr lnr-lock"></i></span>  
                    {% else %} 
					
	{% if not self.voted %}<span class="ver">
<a href="javascript:menealo({{ current_user.user_id }}, {{ self.id }})" id="a-shake-{{ self.id }}">
<svg class="i-caret-top" viewBox="0 0 32 32" fill-rule="nonzero" width="21" height="21" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
<path d="M30 22 L16 6 2 22 Z"></path></svg></a></span>
	{% else %} 
					
	{% if self.voted > 0 %}<span class="ver-e">
<svg class="i-caret-top plus" viewBox="0 0 32 32" fill-rule="nonzero" width="21" height="21" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
<path d="M30 22 L16 6 2 22 Z"></path></svg></span>
	{% else %}

                    <span id="a-shake-{{ self.id }}" class="negative">{{ globals.negative_votes_values[self.voted] }}</span>

                    {% endif %} {% endif %} {% endif %}
					
                </span>
                {% endif %}
				
                     <span class="s-vote"><a id="a-votes-{{ self.id }}" class="n-vote{% if self.voted > 0 %} my{% endif %}" href="{{ self.relative_permalink }}">{{ self.total_votes }}</a> </span>

            </div>
            {% endif %}
			
                    <a class="comments" href="{{ self.relative_permalink }}" title="{% trans _('комментарии от') %}: «{{ self.title }}»">
						<i class="lnr lnr-bubble"></i>
						{% if self.comments > 0 %}
						   <span class="comm"> {{ self.comments }}</span> <span class="yes-comm"> {{  rus('comm',self.comments) }}</span> 
						{% else %}
						   <span class="no-comm">{% trans _("нет комментариев") %}</span>
						
						{% endif %}
                    </a>

            {% if ! self.is_discarded %}

            {% set link = self.permalink %}
            {% set title = self.title %}

            {% if not globals.mobile %}
            {% exec self.get_short_permalink as short_link %}
            <!-- <strong class="wideonly"><a href="{{ short_link }}" title="{% trans _('enlace corto') %}">{% trans _('поделиться') %}</a>:</strong> -->
            {% endif %}

            <button class="social-share">
                <i class="lnr lnr-sync"></i> поделиться
            </button>
            {% include "share.html" %}

            {% endif %}

            {% if current_user.user_id > 0 && current_user.user_id == user.id %}
             <a style="display:inline-block;" id="favr-{{ self.id }}" onclick="change_fav_readed('favr-{{ self.id }}', 'link', {{ self.id }})" {% if self.favorite_readed %} class="link favorite readed on" {% else %} class="link favorite readed" {% endif %} ></a>
            <a style="display:inline-block;" id="favl-{{ self.id }}" onclick="add_remove_fav('favl-{{ self.id }}', 'link', {{ self.id }})" class="link favorite delete on"></a>
            {% endif %}

        </div>

        {% if self.best_comment %}
        <div class="box">
            <a class="tooltip c:{{ self.best_comment.comment_id }}" href="{{ self.relative_permalink }}/c0{{ self.best_comment.comment_order }}">
                <strong>{{ self.best_comment.comment_order }}</strong>
            </a>:&nbsp;{% exec text_to_summary self.best_comment.content 200 %}
        </div>
        {% endif %}

        {% if globals.link %}
        {% exec do_banner_story as dummy %}
        {% endif %}
    </div>
    </div>
</div>

{% if self.map_editable %}
<div id="geoedit" class="geoform" style="margin-left:20px">
    {% if self.add_geo %}
    {% trans _('определяет источник новостей или события (город, страна)') as geotxt %}
    {% exec geo_coder_print_form 'link', self.id, globals.latlng, geotxt as dummy %}
    {% endif %}
</div>
{% endif %}
{% endif %}