<section class="section section-medium section-with-sidebar">
    {% if can_edit %}
    <a href="{{ globals.base_url }}subedit" class="action-link action-link-large pull-right">
        <i class="lnr lnr-plus-circle"></i> 
        <span>{% trans _('создать пространство') %}</span>
    </a>
    {% endif %}

    <h1>{% trans _('Пространства') %}</h1>

    <p class="intro intro-large">{% trans _('Пространства - это тематические разделы, которые позволяют группировать новости. ') %}</p>

    <!--h2>{% trans _('Официальные пространства') %}</h2-->

    {% if official_subs %}
        <div class="container-fluid slider-wrapper" id="official-subs-slider">
            <div class="row official-subs-slider">
                {% for sub in official_subs %}
                <div class="sub col-xs-2">
                    <a href="{{ globals.base_url_general }}s/{{ sub.name }}">
                        <img src="{{ globals.base_url_static }}/img/subs/{{ sub.extra_info.image_name }}" class="img-responsive" alt="{{ sub.name }}" />
                    </a>
                    <div class="sub-info">
                        <a href="{{ globals.base_url_general }}s/{{ sub.name }}" class="sub-name">{{ sub.extra_info.show_name }}</a>
                        <div class="followers"><span class="follower-number">{{ sub.followers }}</span> Последователи</div>
                        <div class="sub-follow" style="display:none;">
                            {% if sub.id != 0 %}
                            {% exec print_follow_sub sub.id as dummy %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="dots"></div>

            <div style="display:none;">
                <div class="slick-prev"></div>
                <div class="slick-next"></div>
            </div>
        </div>
    {% endif %}

    <!--h2>{% trans _('Рекомендуемые пространства') %}</h2-->

    {% if recommended_subs %}
    <div class="container-fluid slider-wrapper" id="recommended-subs-slider">
        <div class="row recommended-subs-slider">
            {% for sub in recommended_subs %}
            <div class="sub col-xs-2">
                <a href="{{ globals.base_url_general }}s/{{ sub.name }}">
                    <img src="{{ globals.base_url_static }}img/subs/{{ sub.extra_info.image_name }}" class="img-responsive" alt="{{ sub.name }}" />
                </a>
                <div class="sub-info">
                    <a href="{{ globals.base_url_general }}s/{{ sub.name }}" class="sub-name">{{ sub.extra_info.show_name }}</a>
                    <div class="followers"><span class="follower-number">{{ sub.followers }}</span> Последователи</div>
                    <div class="sub-follow" style="display:none;">
                        {% if sub.id != 0 %}
                        {% exec print_follow_sub sub.id as dummy %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="dots"></div>

        <div style="display:none;">
            <div class="slick-prev"></div>
            <div class="slick-next"></div>
        </div>
    </div>
    {% endif %}

 


    <form id="form-subs-search" class="form form-search" method="get">
        <div class="form-group form-group-search">
            <i class="lnr lnr-magnifierh"></i>
            <input type="search" name="q" class="form-control input-search" value="{{ q|escape }}" placeholder="{% trans _('Найдите пространство...') %}" autocomplete="off"/>
        </div>

        <div class="form-group form-group-filter">
            {% if chars %}
            <div class="charlist">
                {% for c in chars %}
                <a href="?all&amp;c={{ c }}" {% if c== char_selected %}class="selected" {% endif %}>{{ c }}</a>
                {% endfor %}
            </div>
            {% endif %}

            <select class="form-control input-filter">
                <option value="subscribed" {% if option=== 0 %}selected{% endif %}>{% trans _('Мои подписки') %}
                </option>
                <option value="all" {% if option=== 2 %}selected{% endif %}>{% trans _('Все') %}</option>
                <option value="active" {% if option=== 1 %}selected{% endif %}>{% trans _('Самый активные') %}</option>
            </select>
        </div>
    </form>

    {% include 'subs_list.html' %}

    {% if option === 2 %}
    <div class="pagination-center">
        {% exec do_pages rows page_size false as dummy %}
    </div>
    {% endif %}
</section>