{% if counter == '11' %} 


<div class="container-fluid slider-wrapper" id="widget-popular"> <div class="row widget-popular-links-slider slick-initialized slick-slider slick-dotted" dir="rtl">             <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox">


<!--div class="link popular-link-widget-right slick-slide slick-current slick-active" style="width: 196px; height: 202px;" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00"> <div class="widget-title-wrapper"> <div class="title"></div> <div class="subtitle">Что это такое</div> <div class="description">Потому что ваших мнений все больше и больше, у нас есть платформа, чтобы дать вам то, что вам нужно</div> <a class="meneame-button" href="/articles" tabindex="0">Помощь</a> </div> </div-->

<div class="link slick-slide slick-active" style="width: 45%; float: left;height: 158px;" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01"> <a class="source" tabindex="0">  </a> <div class="title" style="clear:left;">  <a href="https://sugata.ru/story/novyj-fon-na-sajte-i-vydelenie-otdelnyx-oblastej" class="" tabindex="0">Новый фон на сайте, и выделение отдельных областей...</a>   </div> <div class="content"> В общем вот. Сделан новый фон, и теперь надо смотреть, чтобы были правильные отступы. Это работает на ПК. </div> <div class="link-info"> <span data-ts="" class="ts visible time" title="актуально">актуально</span> <span style="font-size: 10px;">—</span> <a href="/user/Evg" class="author tooltip u:1" tabindex="0">Evg</a> </div> </div>

<div class="link slick-slide slick-active" style="width: 45%; height: 158px;" data-slick-index="2" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide02"> <a class="source" tabindex="0">  </a> <div class="title" style="clear:left;">  <a href="https://sugata.ru/s/sugata/vot-eto-povorot" class="" tabindex="0">Вот это поворот!</a>   </div> <div class="content"> По данным дипломатического источника, знакомого с ситуацией, за два года невыплат Россия накопила долг в 60 миллионов евро. </div> <div class="link-info"> <span data-ts="" class="ts visible time" title="актуально">актуально</span> <span style="font-size: 10px;">—</span> <a href="/user/Нездешний" class="author tooltip u:3" tabindex="0">Нездешний</a> </div> </div>



</div></div></div> <div class="dots"></div> <div style="display:none;"> <div class="slick-prev"></div> <div class="slick-next"></div> </div> </div>
  
{% else %}{% endif %}

{% if counter == '3' %}

<!--div><div class="container-qa"><a href="/rules">А вы читали правила?</a></div></div-->

{% else %}{% endif %}