<div id="sidebar" class="left"><div class="menu-telo"> 
 
<div class="sidebox"> <div> <div class="header"> <h4><span>Информация</span></h4> </div> <div class="body"> <div class="rss"> <ul>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/help">О сайте Sugata</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/faq-ru">Часто задаваемые вопросы</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/karma">Карма, лимиты</a> </li> 
<li class="activ"><i class="lnr lnr-frame-contract"></i>  <span>Награды, медали</span></li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/space">Пространства  </a> </li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/rules">Правила, рекомендации  </a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/legal">Политика конфиденциальности</a> </li>  
</ul></div></div></div></div>

</div></div>

<div id="newswrap" class="right faq">
<h1 class="zag">{% trans _("Награды на Sugata") %}</h1>

<h3>Медали</h3><br>

Медали вы можете видеть в вашем профиле.<br> Подсказка появляется при наведении на медаль.
<br> <br>

<img src="https://sugata.ru/img/medali.gif" alt="медали sugata">

<br><br>

На данный момент медали выдаются в автоматическом режиме.

<br><br>
<b>За подписчиков:</b><br>

Бронза: <b>50</b> друзей<br>
Серебро: <b>100</b> друзей<br>
Золото: <b>200</b> друзей<br><br>


<b>За поднятые посты:</b><br>

Бронза: <b>2</b><br>
Серебро: <b>20</b><br>
Золото: <b>50</b><br><br>
 
<b>За время регистрации:</b><br>

Бронза: <b>1</b> год<br>
Серебро: <b>2</b> года<br>
Золото: <b>> 3</b> лет<br><br>

<b>Процент поднятых постов:</b><br>

Бронза: <b>0.08</b><br>
Серебро: <b>0.10</b><br>
Золото: <b>0.15</b><br><br>


<i>Читать далее о карме: <a href="./karma">информация о кармах и лимитах Sugata</a>.</i>
</div>

 
 
