<div id="sidebar" class="left"><div class="menu-telo"> 
 
<div class="sidebox"> <div> <div class="header"> <h4><span>Информация</span></h4> </div> <div class="body"> <div class="rss"> <ul>  

<li> <i class="lnr lnr-frame-contract"></i> <a href="/help">О сайте Sugata</a> </li> 
<li class="activ"> <i class="lnr lnr-frame-contract"></i>  <span>Часто задаваемые вопросы</span> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/karma">Карма, лимиты</a> </li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/badges">Награды, медали</a></li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/space">Пространства</a> </li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/rules">Правила, рекомендации</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/legal">Политика конфиденциальности</a> </li> 

</ul></div></div></div></div>

</div></div>

<div id="newswrap" class="right faq">
<h1 class="zag">{% trans _("Часто задаваемые вопросы") %}</h1>

• <a href="/help">Что такое Sugata?</a>
<br><br>
<h3>Нужно ли регистрироваться?</h3>
<p>Регистрация необходима для того, чтобы отправлять истории и добавлять комментарии.</p>
<br>
<h3>Как выбираются истории, которые публикуются на центральной странице?</h3>
<p>Это происходит автоматически каждые пять минут с учетом голосования пользователей.</p>
<br>
<h3>Почему моя карма колеблется?</h3>
<p>Это происходит потому, что показатель кармы автоматически корректируется каждый день. Публикуйте интересный материал, будьте активны и вам не надо будет заботиться о карме.</p>
<br>
<h3>Как я могу видеть на центральной странице только то, на что подписан?</h3>
<p>Для этого перейдите в настройки своего профиля и установите флажок напротив пункта: «Показывать подписки по умолчанию на центральной».</p>
<br>

<h3>На каком программном обеспечении сделан сайт Sugata?</h3>
<p>Сайт написан на PHP, используя лицензию FOSS — Free/Libre and Open-Source Software (Свободное программное обеспечение с общедоступными (открытыми) исходными кодами). См. <a rel="nofollow" href="https://github.com/SugataRu">GitHub</a>.</p>
<br>


<i>В стадии разработки...</i>
</div>