<div id="sidebar" class="left"><div class="menu-telo"> 
 
<div class="sidebox"> <div> <div class="header"> <h4><span>Информация</span></h4> </div> <div class="body"> <div class="rss"> <ul> 

<li class="activ"><i class="fa fa-angle-right"></i> <span>О сайте Sugata</span></li>  
<li> <a href="/faq-ru"><i class="fa fa-angle-right"></i>Часто задаваемые вопросы</a> </li> 
<li><a href="/karma"><i class="fa fa-angle-right"></i>Карма, лимиты</a></li>  
<li> <a href="/space"> <i class="fa fa-angle-right"></i>Пространства</a> </li> 
<li> <a href="/rules"> <i class="fa fa-angle-right"></i>Правила, рекомендации</a> </li> 
<li> <a href="/legal"><i class="fa fa-angle-right"></i>Политика конфиденциальности</a> </li>  
</ul></div></div></div></div>
 
</div></div>

<div id="newswrap" class="right faq">
<h1 class="zag">{% trans _("О сайте. Что такое Sugata?") %}</h1>


<b>Sugata</b> - это сайт, который позволяет делиться ссылками с сообществом, комментировать новости, публиковать ваши истории, вести блоги, создавать голосования. Ваши публикации будут доступны всем участникам, лучшие материалы по мнению пользователей будут попадать на главную страницу. Когда пользователь отправляет новость, она попадает в очередь ожидания до тех пор, пока не наберет достаточное количество голосов для продвижения на главную страницу.

<br><br>
Вот некоторая информация, чтобы вы начали работать с Sugata.
<br><br>
<h3>Как работает sugata?</h3><br>
 
• Пользователи публикуют сообщения в сообществах, также называемых <a href="/space">Пространства</a>.<br>
• Другие пользователи голосуют и комментируют эти сообщения.<br>
• На основе этих голосов лучшие посты поднимаются вверх.<br><br>

Пользователи, которые публикуют сообщения или комментируют их, зарабатывают <a href="/karma">карму</a>, когда за их контент проголосовали.
<br><br>
Как участник сообщества помните, что каждое Пространство имеет свою уникальную индивидуальность и правила, которые обычно находятся на боковой панели. Это основы! После того, как вы ознакомитесь с сайтом, пожалуйста, обратите внимание на более подробное объяснение, что такое Sugata и как это работает.
<br><br>
<i>Кстати...</i>
<br><br>
Вот наша политика, <a href="/rules">правила</a> в отношении содержания. <br>Это правила, которым вы должны следовать, чтобы быть успешными на Sugata.
 <br><br>

</div>

 
 
