<div id="sidebar" class="left">
 
<div class="sidebox"> <div> <div class="header"> <h4><span>Информация</span></h4> </div> <div class="body"> <div class="rss"> <ul>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/help">О сайте Sugata</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/faq-ru">Часто задаваемые вопросы</a> </li> 
<li class="activ"><i class="lnr lnr-frame-contract"></i>  <span>Карма, лимиты</span></li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/badges">Награды, медали</a></li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/space">Пространства  </a> </li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/rules">Правила, рекомендации  </a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/legal">Политика конфиденциальности</a> </li>  
</ul></div></div></div></div>
 
</div>

<div id="newswrap" class="right faq">
<h1 class="zag">{% trans _("Информация о кармах и лимитах Sugata") %}</h1>





<h2 class="zag">Карма и Пользователи</h2>

Карма является основой функционирования Sugata. Карма каждого пользователя является мерой участия пользователя и является ценностью, которая «способствует» определять «ценность» новости / комментраия. За некоторыми исключениями (например, штрафы за злоупотребления в голосовании или комментариях или за публикацию собственных рассылок), карма обновляется каждые 24 часа. Значение кармы каждого пользователя является общедоступным, и каждый пользователь может увидеть сводку своих вычислений из своего профиля пользователя в ссылке «подробный расчет», которая отображается рядом с числовым значением кармы.


<br><br><h3>Основные принципы</h3>

<b>Увеличивает карму:</b><br>
• Положительные голоса на ваши новые новости, которые ещё не были «подняты».<br>
• Положительные голоса за опубликованные новости, если голосование было сделано до «поднятия» новости.<br>
• Отрицательное голосование по новостям, которые были отклонены, при условии, что голосование было произведено в течение 15 минут после отправки новостей.<br>
• Положительные отзывы на ваши комментарии и заметки.<br><br>

<b>Уменьшает карму:</b><br>
• Отрицательные голоса на ваши новые новости.<br>
• Отрицательное голосование за новости, которые не были отброшены после 6 часов голосования и до 30 часов.<br>
• Вы проголосовали отрицательно за 3 новости менее чем за минуту.<br>
• Отрицательные голоса на ваши комментарии и заметки.<br>
• Если вы голосуете «несправедливо» за комментарии, то есть, если вы проголосуете за отрицательный комментарий, у которого мало отрицательных голосов.<br><br>

<b>Это не влияет на карму:</b><br>
• Положительные голоса за новости, которые уже были опубликованы.<br>
• Отрицательное голосование за отклоненные новости, если они были сделаны через час после отправки новостей.<br>
• Положительные голоса за комментарии или заметки.<br><br>

<h3>Функционирование расчета кармы</h3>

<i>Карма</i> - это значение от 1 до 20, равное 6, которое получает пользователя при регистрации в системе.
<br><br>
Расчет кармы производится по активности, выполненной в системе за 2 дня до выполнения процесса, который ее вычисляет, любая предыдущая активность не влияет на нее. Если у пользователя не было активности в последние 2 дня, вполне вероятно, что карма будет потеряна, но ни в коем случае она не будет расти, поэтому необходимо набрать минимум 4 голоса, чтобы попытаться поднять свою карму. Карма обновляется каждый день на рассвете (по московскому времени).
<br><br>
<h3>Новая карма будет сочетанием четырех элементов:</h3>

<b>1. Голоса получили о ваших новостях.</b><br>

Положительные голоса в ваших новостях увеличивают это значение, а отрицательные - уменьшают его.<br><br>

<b>2.  Положительное голосование.</b><br>
Положительные голоса по опубликованным новостям увеличивают ваше значение до тех пор, пока вы проголосовали до публикации новостей. Голосование положительное после публикации никак не влияет на карму.<br><br>
Положительные голоса за новости, которые еще не были опубликованы, уменьшают это значение, но в гораздо меньшей степени, чем в предыдущем случае. Только эти голоса подсчитываются через 24 часа после того, как они это сделали.<br><br>

<b>3. Отрицательные голоса.</b><br>
Отрицательные голоса в новостях, которые были отклонены, увеличивают это значение, если вы проголосовали в течение 15 минут после отправки новостей. Голосовать за этот период отрицательно за новости, которые будут отброшены, или голосовать за новости, от которых уже давно отказались, не влияет на карму.<br><br>
Отрицательные голоса в новостях, которые не были отброшены, уменьшают эту ценность. В этом случае он наказывается больше, чем в случае положительных голосов, при этом значение отрицательного голоса, вызывающего карму, равноценно, как и отрицательного, снижающего карму. В последнем случае учитываются только голоса, сделанные более чем за 6 часов и менее чем за 30 часов, чтобы дать время для отбрасывания новостей и наказания только в течение 24-часового периода.<br><br>

<b>4. Полученные голоса за ваши комментарии и заметки</b><br>
Положительные голоса в ваших новостях увеличивают это значение, а отрицательные - уменьшают его. Это также уменьшит вашу карму, если вы дадите «несправедливые» голоса, то есть отрицательные голоса за другие комментарии, которые в конечном итоге не останутся с пустым фоном.<br><br>

<b>Сумма этих четырех элементов дает значение для расчета новой кармы.</b><br><br>


<h3>Карма</h3> 
 
 
• Карма пользователя может составлять от <b>1</b> до <b>20</b><br>
• Базовая карма идет от <b>6</b> до <b>9</b>. Увеличение со скоростью <b>1</b> в год, начиная с даты первой опубликованной новости.<br>
• Обычный пользователь получает статус "special", когда его карма > <b>17</b> и теряет его, когда его карма < <b>15</b><br>
• Минимальная карма для отправки историй: <b>5.6</b><br>
• Минимальная карма для отправки комментариев: <b>5.25</b><br>
• Минимальная карма для жалоб: <b>5</b><br>
• Минимальная карма для голосования за комментарии: <b>5.8</b><br>
• Минимальная карма для разговоров в заметках: <b>5.5</b><br><br>
 
 
 
 
<h3>Комментарии</h3> 

• Время редактирования комментария: <b>8 минуты</b><br>
• Карма, из которой выделяются комментарии: <b>60</b><br>
• Карма, из которой скрыты комментарии: <b>-50</b><br>
• Время, которое должно пройти, чтобы новый пользователь мог прокомментировать: <b>2 часа</b><br><br>


<h3>Формулы</h3> 


<b>Новая карма</b><br>
• Конечная карма представляет собой средневзвешенное значение предыдущей кармы и нового расчета:<br>
• Если эта новая карма больше той, что была у вас, то сохраняется 80% вашей текущей кармы и к ней добавляется 20% новой кармы.<br>
• Если эта новая карма меньше, чем у вас, 95% вашей текущей кармы сохраняется и 5% новой кармы добавляется к ней.<br><br>


<b>Если в последние 2 дня не было активности</b><br>
Новая ценность кармы - это среднее значение от 6 до вашей текущей кармы. Если карма меньше 6, новое значение будет таким же, увеличенным на 0,1. Если значение выше, новое значение будет таким же, минус 0,5. Затем формула, объясненная выше («новая карма»), применяется для получения окончательной кармы.<br><br>


• «Депубликация» происходит, когда суммы кармы пользователей (негативной) > сумма кармы пользователей (позитивной) или сумма отрицательных голосовавших > (карма истории / 2) 

<br><br>

• Для «депубликации» также должно быть выполнено условие, чтобы сумма кармы пользователей (негативной) > (карма отгрузки / 6) или чтобы количество отрицательных голосов > (количество положительных голосов / 6) 

<br><br>

• Для подсчета в кармах сумм при расчете «депубликации» пользователи, проголосовавшие «за», должны иметь карму > 8, а те, кто проголосовал за отрицательную карму > 6,01. <br><br>

• «Новым пользователем» считается тот, кто не отправил ни одной истории или зарегистрировался менее 3 дней назад.<br><br>

• «Новый пользователь» с кармой < 6.1 и без публикаций должен проголосовать за 8 постов, чтобы иметь возможность публиковаться<br><br>

• «Новый пользователь» с кармой < 6.1 и поставками должен проголосовать (динамическое число) 4 * (1 + количество отправлений пользователя за последние 24 часа, которые не находятся в статусе «отменить»), чтобы иметь возможность отправить <br><br>

• «Новый пользователь» может отправлять только 1 историю каждыЙ час (необходимо подождать, если несколько историй уже отправлено тем же пользователем или IP-адресом)<br><br>

• «Новый пользователь» с недавними отправлениями (< 1 часа) и кармой < 12 не сможет отправлять истории, если они имеют более 10 жалоб > (положительный * 1,5)<br><br>


 
<h3>Другое</h3>
• Пользователь может создавать <a href="https://sugata.ru/subs">Пространства</a> через <b>3 дня</b> после регистрации. Или по заявке администрации сразу.<br>
• Время сообщений в чате <b>10 минут</b><br>
• Закрытие голосования <b>28 дней</b><br>
• Закрытие комментариев <b>28 дней</b><br><br>


<h3>Уровни</h3>

В настоящее время существует 5 типов пользователей: normal, special, blogger, admin и god.

<br><br>

Обычный пользователь - это тот, кто регистрируется в sugata.ru и он начинается с кармы 6. Когда этот пользователь достигает 80% максимальной возможной кармы, в этом случае 17, он становится пользователем special (специальным) с полномочиями редактировать новости (из очереди ожиданий и отброшенных, но не может редактировать новости, которые перешли в список опубликованных).

<br><br>

Когда пользователь стал special, он может позволить себе потерять карму до 60% максимальной возможной кармы, в этом случае 12, когда он снова станет обычным пользователем.

<br><br>

Пользователь blogger, как и admin. Его полномочия совпадают с полномочиями special, но он не теряет своей категории в зависимости от кармы.

<br><br>

Пользователь admin является модератором. Он имеет те же права, что и пользователь special, но админ уровень не теряется, если у вас понижается карму, как это происходит со special.
<br><br>
<h3>Штрафы</h3>
Несоблюдение правил может в любой момент привести к прямому изгнанию пользователя с платформы. Тем не менее, обычно используется система предупреждений (strikes), которая не предполагает прямого удаления пользователя с платформы.
<br><br>
Strikes функционируют как добавочные уведомления, но применяются в зависимости от серьезности нарушения правил. Комментарий, который граничит с допустимым, может получить strike 0 в качестве уведомления, однако явно вредный комментарий или преследование другого пользователя могут представлять собой strike 4 или прямой бан.
<br><br>
<b>strike 0</b> → небольшое снижение кармы<br>
<b>strike 1</b> → -2 очка кармы + 1 день без возможности входа<br>
<b>strike 2</b> → -2 балла кармы + 2 дня без возможности входа<br>
<b>strike 3</b> → -2 балла кармы + 5 дней без возможности входа<br>
<b>strike 4</b> → -2 балла кармы + 20 дней без возможности входа<br>
<b>ban</b> → 90 дней без возможности входа<br><br>



<h3>Конечный результат общего подсчета кармы</h3>
Новое значение карма = голоса, полученные на ваши новости + положительные голоса, выданные + отрицательные голоса, выданные<br><br>
<b>Если новое значение кармы больше, чем то, что у вас было:</b><br>
Текущая карма = 80% старая карма + 20% новое значение карма<br><br>

<b>Если новое значение кармы меньше значения, которое у вас было:</b><br>
Текущая карма = 95% старая карма + 5% новое значение карма<br><br>
<i>Читать далее о наградах: <a href="https://sugata.ru/badges">награды, медали на Sugata</a>.</i>
<br><br>
<i>Читать более подробно: <a href="https://sugata.ru/s/Evg/vizyalizaciya-karmy-kazhdogo-polzovatelya">Визуализация кармы каждого пользователя</a></i>
</div>

 
 
