<div id="sidebar" class="left"><div class="menu-telo"> 
 
<div class="sidebox"> <div> <div class="header"> <h4><span>Информация</span></h4> </div> <div class="body"> <div class="rss"> <ul>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/help">О сайте Sugata</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/faq-ru">Часто задаваемые вопросы</a> </li> 
<li class="activ"><i class="lnr lnr-frame-contract"></i>  <span>Карма, лимиты</span></li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/badges">Награды, медали</a></li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/space">Пространства  </a> </li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/rules">Правила, рекомендации  </a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/legal">Политика конфиденциальности</a> </li>  
</ul></div></div></div></div>
 
</div></div>

<div id="newswrap" class="right faq">
<h1 class="zag">{% trans _("Информация о кармах и лимитах Sugata") %}</h1>

<h3>Карма</h3><br>
 
 
• Карма пользователя может составлять от <b>1</b> до <b>20</b><br>
• Базовая карма идет от <b>6</b> до <b>9</b>. Увеличение со скоростью <b>1</b> в год, начиная с даты первой опубликованной новости.<br>
• Обычный пользователь получает статус "special", когда его карма > <b>17</b> и теряет его, когда его карма < <b>15</b><br>
• Минимальная карма для отправки историй: <b>5.6</b><br>
• Минимальная карма для отправки комментариев: <b>5.25</b><br>
• Минимальная карма для жалоб: <b>5</b><br>
• Минимальная карма для голосования за комментарии: <b>5.8</b><br>
• Минимальная карма для разговоров в заметках: <b>5.5</b><br><br>
 
 
 
 
<h3>Комментарии</h3><br>

• Время редактирования комментария: <b>4 минуты</b><br>
• Карма, из которой выделяются комментарии: <b>60</b><br>
• Карма, из которой скрыты комментарии: <b>-50</b><br>
• Время, которое должно пройти, чтобы новый пользователь мог прокомментировать: <b>2 часа</b><br><br>


<h3>Формулы</h3><br>


• «Депубликация» происходит, когда суммы кармы пользователей (негативной) > сумма кармы пользователей (позитивной) или сумма отрицательных голосовавших > (карма истории / 2) 

<br><br>

• Для «депубликации» также должно быть выполнено условие, чтобы сумма кармы пользователей (негативной) > (карма отгрузки / 6) или чтобы количество отрицательных голосов > (количество положительных голосов / 6) 

<br><br>

• Для подсчета в кармах сумм при расчете «депубликации» пользователи, проголосовавшие «за», должны иметь карму > 8, а те, кто проголосовал за отрицательную карму > 6,01. <br><br>

• «Новым пользователем» считается тот, кто не отправил ни одной истории или зарегистрировался менее 3 дней назад.<br><br>

• «Новый пользователь» с кармой < 6.1 и без публикаций должен проголосовать за 8 постов, чтобы иметь возможность публиковаться<br><br>

• «Новый пользователь» с кармой < 6.1 и поставками должен проголосовать (динамическое число) 4 * (1 + количество отправлений пользователя за последние 24 часа, которые не находятся в статусе «отменить»), чтобы иметь возможность отправить <br><br>

• «Новый пользователь» может отправлять только 1 историю каждыЙ час (необходимо подождать, если несколько историй уже отправлено тем же пользователем или IP-адресом)<br><br>

• «Новый пользователь» с недавними отправлениями (< 1 часа) и кармой < 12 не сможет отправлять истории, если они имеют более 10 жалоб > (положительный * 1,5)<br><br>


 
<h3>Другое</h3><br>
• Пользователь может создавать <a href="https://sugata.ru/subs">Пространства</a> через <b>3 дня</b> после регистрации. Или по заявке администрации сразу.<br>
• Время сообщений в чате <b>10 минут</b><br>
• Закрытие голосования <b>2 недели</b><br>
• Закрытие комментариев <b>3 недели</b><br><br>


<h3>Уровни</h3><br>

В настоящее время существует 5 типов пользователей: normal, special, blogger, admin и god.

<br><br>

Обычный пользователь - это тот, кто регистрируется в sugata.ru и он начинается с кармы 6. Когда этот пользователь достигает 80% максимальной возможной кармы, в этом случае 17, он становится пользователем special (специальным) с полномочиями редактировать новости (из очереди ожиданий и отброшенных, но не может редактировать новости, которые перешли в список опубликованных).

<br><br>

Когда пользователь стал special, он может позволить себе потерять карму до 60% максимальной возможной кармы, в этом случае 12, когда он снова станет обычным пользователем.

<br><br>

Пользователь blogger, как и admin. Его полномочия совпадают с полномочиями special, но он не теряет своей категории в зависимости от кармы.

<br><br>

Пользователь admin является модератором. Он имеет те же права, что и пользователь special, но админ уровень не теряется, если у вас понижается карму, как это происходит со special.
<br><br>
<h3>Штрафы</h3><br>
Несоблюдение правил может в любой момент привести к прямому изгнанию пользователя с платформы. Тем не менее, обычно используется система предупреждений (strikes), которая не предполагает прямого удаления пользователя с платформы.
<br><br>
Strikes функционируют как добавочные уведомления, но применяются в зависимости от серьезности нарушения правил. Комментарий, который граничит с допустимым, может получить strike 0 в качестве уведомления, однако явно вредный комментарий или преследование другого пользователя могут представлять собой strike 4 или прямой бан.
<br><br>
<b>strike 0</b> → небольшое снижение кармы<br>
<b>strike 1</b> → -2 очка кармы + 1 день без возможности входа<br>
<b>strike 2</b> → -2 балла кармы + 2 дня без возможности входа<br>
<b>strike 3</b> → -2 балла кармы + 5 дней без возможности входа<br>
<b>strike 4</b> → -2 балла кармы + 20 дней без возможности входа<br>
<b>ban</b> → 90 дней без возможности входа<br><br>


<br><br>

<h3>Конечный результат общего подсчета кармы</h3><br>
Новое значение карма = голоса, полученные на ваши новости + положительные голоса, выданные + отрицательные голоса, выданные<br><br>
<b>Если новое значение кармы больше, чем то, что у вас было:</b><br>
Текущая карма = 80% старая карма + 20% новое значение карма<br><br>

<b>Если новое значение кармы меньше значения, которое у вас было:</b><br>
Текущая карма = 95% старая карма + 5% новое значение карма<br><br>
<i>Читать далее о наградах: <a href="https://sugata.ru/badges">награды, медали на Sugata</a>.</i>
<br><br>
<i>Читать более подробно: <a href="https://sugata.ru/s/Evg/vizyalizaciya-karmy-kazhdogo-polzovatelya">Визуализация кармы каждого пользователя</a></i>
</div>

 
 
