<div id="sidebar" class="left">
 
<div class="sidebox"> <div> <div class="header"> <h4><span>Информация</span></h4> </div> <div class="body"> <div class="rss"> <ul>  

<li> <i class="lnr lnr-frame-contract"></i> <a href="/help">О сайте Sugata</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/faq-ru">Часто задаваемые вопросы</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/karma">Карма, лимиты</a> </li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/badges">Награды, медали</a></li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/space">Пространства</a> </li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/rules">Правила, рекомендации</a> </li> 
<li class="activ"> <i class="lnr lnr-frame-contract"></i>  <span>Политика конфиденциальности</span> </li>  

</ul></div></div></div></div>
 
</div>

<div id="newswrap" class="right faq">
<h1 class="zag">{% trans _("Политика в отношении обработки персональных данных") %}</h1>


<h2>1. Общие положения</h2> 

Настоящая политика обработки персональных данных составлена в соответствии с требованиями Федерального закона от 27.07.2006. №152-ФЗ «О персональных данных» и определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных Sugata.<br><br>
Sugata ставит своей важнейшей целью и условием осуществления своей деятельности соблюдение прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.<br><br>
Настоящая политика Sugata в отношении обработки персональных данных (далее – Политика) применяется ко всей информации, которую Sugata может получить о посетителях веб-сайта https://sugata.ru.
<br><br>
<h3>2. Основные понятия, используемые в Политике</h3> 

• Автоматизированная обработка персональных данных – обработка персональных данных с помощью средств вычислительной техники;
<br><br>
• Блокирование персональных данных – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
<br><br>
• Веб-сайт – совокупность графических и информационных материалов, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу https://sugata.ru;
<br><br>
• Информационная система персональных данных — совокупность содержащихся в базах данных персональных данных, и обеспечивающих их обработку информационных технологий и технических средств;
<br><br>
• Обезличивание персональных данных — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;
<br><br>
• Обработка персональных данных – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
<br><br>
• Sugata – государственный орган, муниципальный орган, юридическое или физическое лицо, самостоятельно или совместно с другими лицами организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными;
<br><br>
• Персональные данные – любая информация, относящаяся прямо или косвенно к определенному или определяемому Пользователю веб-сайта https://sugata.ru;
<br><br>
• Пользователь – любой посетитель веб-сайта https://sugata.ru;
<br><br>
• Предоставление персональных данных – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;
<br><br>
• Распространение персональных данных – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;
<br><br>
• Трансграничная передача персональных данных – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;
<br><br>
• Уничтожение персональных данных – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.
<br><br>
<h3>3. Sugata может обрабатывать следующие персональные данные Пользователя</h3>

• Электронный адрес;
• Фотографии;
• Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и других).
Вышеперечисленные данные далее по тексту Политики объединены общим понятием Персональные данные.
<br><br>
<h3>4. Цели обработки персональных данных</h3>

Цель обработки персональных данных Пользователя — предоставление доступа Пользователю к сервисам, информации и/или материалам, содержащимся на веб-сайте.
<br><br>
Также Sugata имеет право направлять Пользователю уведомления о новых продуктах и услугах, специальных предложениях и различных событиях. Пользователь всегда может отказаться от получения информационных сообщений, направив Sugata письмо на адрес электронной почты admin@sugata.ru с пометкой «Отказ от уведомлениях о новых продуктах и услугах и специальных предложениях».
<br><br>
Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
<br><br>
<h3>5. Правовые основания обработки персональных данных</h3>

Sugata обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте https://sugata.ru. 
<br><br>
Заполняя соответствующие формы и/или отправляя свои персональные данные Sugata, Пользователь выражает свое согласие с данной Политикой.
<br><br>
Sugata обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
<br><br>
<h3>6. Порядок сбора, хранения, передачи и других видов обработки персональных данных</h3>

Безопасность персональных данных, которые обрабатываются Sugata, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства в области защиты персональных данных.
<br><br>
Sugata обеспечивает сохранность персональных данных и принимает все возможные меры, исключающие доступ к персональным данным неуполномоченных лиц.
<br><br>
Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.
<br><br>
В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Sugata уведомление на адрес электронной почты Sugata admin@sugata.ru с пометкой «Актуализация персональных данных».
<br><br>
Срок обработки персональных данных является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Sugata уведомление посредством электронной почты на электронный адрес Sugata admin@sugata.ru с пометкой «Отзыв согласия на обработку персональных данных».
<br><br>
<h3>7. Трансграничная передача персональных данных</h3>

Sugata до начала осуществления трансграничной передачи персональных данных обязан убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.
<br><br>
Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия в письменной форме субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.
<br><br>


<h3>8. Исключение гарантий и ответственности</h3>

Sugata не гарантирует законность, достоверность, точность, полноту, своевременность и полезность содержания. 
<br><br>
Установление гиперссылки, ссылки, обмен ни в коем случае не подразумевает наличия отношений между Sugata и владельцем веб-сайта, а также принятия и одобрения его содержания или услуг. 
<br><br>
Sugata  исключает всю ответственность, связанных с этими сайтоми, и не может контролировать и не контролировать, что среди них появляются интернет-сайты, содержание которых может быть незаконным, нпротиворечащим моральным нормам... Поэтому пользователь должен проявлять крайнюю осторожность при оценке и использовании информации, контента и услуг, имеющихся на связанных сайтах. 
<br><br>
Sugata исключают всю ответственность за новости и информацию, публикуемую пользователями, третьими лицами, а пользователи или третьи лица, несут ответственность за них. 
<br><br>
Sugata  делает все возможное, чтобы гарантировать конфиденциальность личных сообщений, однако Sugata  не несет ответственности в случае их разглашения из-за действий третьих лиц, не связанных с Sugata .
<br><br>

<h3>9. Заключительные положения</h3>

Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Sugata с помощью электронной почты admin@sugata.ru.
<br><br>
В данном документе будут отражены любые изменения политики обработки персональных данных Sugata. Политика действует бессрочно до замены ее новой версией.<br><br>
Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу https://sugata.ru/legal.
<br><br>
<i>Обновлено: 08 апреля 2019 года</i>


</div>
