<div id="sidebar" class="left"><div class="menu-telo"> 
 
<div class="sidebox"> <div> <div class="header"> <h4><span>Информация</span></h4> </div> <div class="body"> <div class="rss"> <ul> 

<li> <i class="lnr lnr-frame-contract"></i> <a href="/faq-ru">О сайте Sugata</a></li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/faq-ru">Часто задаваемые вопросы</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/karma">Карма, лимиты</a></li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/badges">Награды, медали</a></li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/space">Пространства</a> </li> 
<li class="activ"><i class="lnr lnr-frame-contract"></i>  <span>Правила, рекомендации</span>  </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/legal">Политика конфиденциальности</a> </li> 
</ul></div></div></div></div>
 
</div></div>

<div id="newswrap" class="right faq">
<h1 class="zag">{% trans _("Основные правила и рекомендации") %}</h1>

<h3>Это публичное место для конструктивных дискуссий</h3><br>

Просим отнестись к Sugata с таким же уважением, как вы относитесь к собственной гостиной, ведь у нас с вами теперь общий ресурс — сообщество для обмена навыками, знаниями и интересами на основе постоянного общения.
<br><br>
Это не жёсткие правила, но они помогают уютному общению в нашем сообществе. Используйте рекомендации, чтобы сохранить этот сайт в чистоте и сохранить это чистое, хорошо обустроенное место для цивилизованных публичных дискуссий.

<br><br><h3>Улучшить обсуждение</h3><br>

Помогите нам в создании отличного сайта для Дискуссий! Вносите ваш вклад в улучшение дискуссий - пусть он будет небольшим, но постоянным. Если Вы не уверены, добавляет ли ваш пост полезности к разговору, продумайте то, что вы хотите сказать и повторите попытку позже.
<br><br>
Обсуждаемые здесь темы очень важны для нас и мы хотим, чтобы вы действовали так, как будто они важны и для вас. Будьте уважительными к темам и людям, которые эти темы обсуждают, даже тогда, когда Вы не согласны с некоторыми высказываниями.
<br><br>
Один из способов улучшать дискуссии - это войти в курс тех тем, которые уже обсуждаются другими участниками. Потратьте некоторое время на просмотр существующих обсуждений, прежде чем отвечать или начать свою собственную дискуссию, так вы будете иметь больше шансов обсудить публикации с теми людьми, которые разделяют ваши интересы. Будьте милы, даже если вы с кем-то не согласны .
 <br><br>
Вы можете реагировать на что-либо, не соглашаясь с другими людьми. Это замечательно, что все мы такие разные и у каждого есть своё мнение и жизненный опыт. Но помните, подвергать критике следует идеи, а не людей. Пожалуйста, избегайте:<br><br>

• Навешивания ярлыков.<br>
• Личных нападок.<br>
• Ответов на тон публикаций, а не на их фактическое содержание.<br>
• Рефлекторных противоречий.

<br><br>
Вместо этого предоставьте обоснованные контраргументы, которые улучшают разговор.

<br><br><h3>Ваше участие засчитывается</h3><br>

Разговоры, которые мы здесь ведём, задают тон всем остальным. Помогите нам повлиять на будущее этого сообщества, решив участвовать в дискуссиях, которые делают Sugata интересным сайтом, и избегая тех дискуссий, которые могут его испортить.
<br><br>
Sugatau предоставляет инструменты, которые позволяют сообществу коллективно определить лучшие (и худшие) посты. Используйте эти инструменты, чтобы улучшить публикации и помогите нам улучшать сайт.
<br><br>
Давайте вместе сделаем наше сообщество Sugata лучше, чем он был до того, как вы сюда пришли.
<br><br>
Если вы видите проблему - укажите на неё!
<br><br>
Модераторам даны специальные полномочия: они несут ответственность за Sugata. Но так же и вы несёте ответственность за всё, что происходит с вами и вокруг вас. С вашей помощью, модераторы могут быть посредниками, а не только дворниками и полицией.
<br><br>
Когда вы видите плохое поведение, не отвечайте, т.к. это поощряет плохое поведение: вырастает в проблему, тратит вашу энергию, и расходует время. Просто пометьте плохую публикацию. Когда плохая публикация наберёт достаточное количество флагов, то будут приняты меры, либо автоматически, либо произойдет вмешательство модератора.
<br><br>
Для того, чтобы поддерживать наше сообщество, модераторы оставляют за собой право удалять любой контент, любое содержимое и любую учётную запись пользователя по любой причине в любое время. Модераторы не анонсируют свои действия в любом случае; модераторы и владельцы сайта не несут никакой ответственности за любой контент, размещенный в сообществе.

<br><br><h3>Всегда быть вежливым</h3><br>

Ничто так не саботирует здоровый разговор, как хамство:
<br><br>
• Будьте вежливыми. Не публикуйте ничего, что здравомыслящий человек может посчитать оскорбительным, или вызвать волну ненависти.<br>
• Держите этот сайт в чистоте. Не публикуйте ничего непристойного.<br>
• Уважайте друг друга. Не преследуйте и никого не огорчайте, не выдавайте себя за других людей и не разглашайте их личную информацию.<br>
• Уважайте наш сайт. Не размещайте спам и не хулиганьте на нём.
<br><br>
Всё сказанное выше - не конкретные термины с точными определениями, и поэтому избегайте даже намеков на какие-либо из подобных вещей. Если вы не уверены в вашей публикации, то спросите себя, как бы вы себя чувствовали, если бы ваша публикация оказалась на первой странице газеты, которая доступна вашим родителям и детям.
<br><br>
Это публичный сайт и поисковики проиндексируют все дискуссии. Делайте ваше общение, ссылки и изображения приемлемыми для семьи и друзей.

<br><br><h3>Будьте опрятными</h3><br>

Приложите усилия, чтобы опубликовать ваши материалы в актуальных пространствах, так чтобы мы могли потратить больше времени на обсуждения и меньше на уборку. Поэтому:<br><br>
• Не начинайте тему в неправильном пространстве.<br>
• Не публикуйте одно и то же в нескольких местах.<br>
• Не публикуйте несодержательные посты.<br>
• Не нарушайте закон РФ, будьте сдержанней.
 
<br><br><h3>Мы работаем для вас</h3><br>

Этот сайт управляется дружелюбным персоналом, Вами и сообществом. Если у вас есть какие-либо дополнительные вопросы о том, как всё должно здесь работать, - откройте новую тему в категории Sugata и давайте обсудим её! Если у вас есть критическая или срочная проблема, которая не охватывается Sugata-темой, свяжитесь с нами.

<br><br><h3>Условия использования</h3><br>

Да, юридическая информация - это скучно, но мы должны защитить себя – и, следовательно, вас и ваши данные – от недружественных людей. Любое непристойное поведение, нарушение законодательство РФ, будут присекаться. Мы уважаем законы!

 
 
 <br><br>

</div>

 
 
