<div id="sidebar" class="left"><div class="menu-telo"> 
 
<div class="sidebox"> <div> <div class="header"> <h4><span>Информация</span></h4> </div> <div class="body"> <div class="rss"> <ul>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/help">О сайте Sugata</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/faq-ru">Часто задаваемые вопросы</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/karma">Карма, лимиты</a> </li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/badges">Награды, медали</a></li> 
<li class="activ"><i class="lnr lnr-frame-contract"></i> <span>Пространства</span></li>  
<li> <i class="lnr lnr-frame-contract"></i> <a href="/rules">Правила, рекомендации</a> </li> 
<li> <i class="lnr lnr-frame-contract"></i> <a href="/legal">Политика конфиденциальности</a> </li>  
</ul></div></div></div></div>
 
</div></div>

<div id="newswrap" class="right faq">
<h1 class="zag">{% trans _("Пространства, вопросы...") %}</h1>

<h2>Свойства, которые могут быть изменены администраторами Пространства</h2>
 <br><br>
<b>Имя:</b> короткая строка, которая используется в качестве url-адреса для страниц английском языке.
 <br><br>
<b>Заголовок:</b> Заголовок страницы вашего пространства.
 <br><br>
<b>Цвет названия:</b> цвет в HTML-шестнадцатеричном формате для цвета текста заголовка sub и в списках subs. Визуально определяет принадлежность публикации к вашему пространству, когда публикация попадает в общий поток.
 <br><br>
<b>Цвет фона:</b> аналогично предыдущему, для фона заголовка и списков subs.
 <br><br>
<b>Частное:</b> пометьте это значение, чтобы публикации не были никогда на центральной странице. Посты не попадут в общую очередь.
 <br><br>
<b>18+:</b> необходим для определения пространства со ссылками 18+, которые не рекомендуются для публичных мест или для детей.
 <br><br>
<b>Отключить анти-спам-контроль:</b> в этом случае не производится контроль за запрещёнными сайтами, локальными ссылками, автоботами и т.д. Даже если они могут быть отправлены в subs, запрещенные сайты не будут продвигаться в основное пространство.
 <br><br>
<b>Ссылка:</b> позволяет управлять "микроблогингом "(или “self”, как известно на Reddit). В зависимости от выбора администратора пространства выбирается поведение пользователей: либо необходимо всегда публиковать ссылки, или же все публикации пространства будут микроблогами, или же ссылки будут является вспомогательным контентом.
 <br><br>
<b>Пределы текста максимальная и минимальная длина:</b> служат для указания минимальной и максимальной длины ввода. Минимальная длина текста от 50 символов, а максимальная 20.000. Какую вы хотите, выставляете сами.
 <br><br>
<b>Ввод, разрешить абзацы:</b> по умолчанию система преобразует текст публикации в один абзац, без разрывов строк. С помощью этого параметра будет применяться формат с абзацами.
 <br><br>
<b>Правила доставки:</b> будет отображаться в форме отправки ссылки.
 <br><br>
<b>Описание темы:</b> текст будет отображаться на главной странице каждого пространства, в правой колонке.
 <br><br>
<b>Изображение / лого пространства:</b> вы можете загрузить изображение в качестве логотипа пространства.
 <br><br>
<b>Добавление изображений в рассылки:</b> ...
 <br><br>
<b>Дополнительные администраторы:</b> в будущем.
<br><br>

 
<i>В стадии разработки...</i>
</div>

 
 
