<div style="margin-left: 80px;margin-top: 30px">
{% if link.old %}
<h3>{% trans _('Похожие материалы') %}</h3>
{% else %}
<h3>{% trans _('Возможно похожие истории') %}</h3>
{% endif %}

{% for l in related %}
    {% exec l.get_box_class %}
    <div class="news-summary" style="margin-bottom: 15px">
        <div class="news-body">

        <div class="sidebox news-shakeit {{ l.box_class }}" style="height: auto">
            <div class="votes">
                <a id="a-votes-{{ self.id }}" href="{{ self.relative_permalink }}"><span>{{ l.total_votes }}</span></a>

            </div>

        </div>

            <h3 style="font-size: 120%;margin-left: 60px;"><a href="{{ l.permalink }}"{% if l.status != 'published' %} rel="nofollow"{% endif %}>{{ l.title }}</a></h3>
			<div class="clics"  style="margin-left: 60px;margin-top: -5px;color: #666;">{{ l.clicks }} - {{  rus('clic',l.clicks) }}</div>
        </div>
    </div>
{% endfor %}
</div>




            

