 <section class="section section-medium section-story-submit">
    <div class="section-story-submit-step1-layout">
        <div class="section-story-submit-step1-link">
            <form name="new" method="post" class="form">
                <input type="hidden" name="key" value="{{ link.key }}" />
                <input type="hidden" name="randkey" value="{{ link.randkey }}" />
                <input type="hidden" name="step" value="1" />
                <input type="hidden" name="type" value="link" />

                {% include 'story/submit/error.html' %}

                <div class="form-group form-group-highlight mt-20">
                    <input type="url" name="url" value="{{ link.url }}" class="form-control" placeholder="{% trans _('Вставьте ссылку, которой вы хотите поделиться здесь') %}" required/>
                </div>

                <div class="form-group mt-20">
                <button type="submit" class="btn btn-sg btn-lg">{% trans _('Ссылка') %}</button>
                </div>
            </form>
        </div>

{% if site_properties.no_link %} 
    <div class="section-story-submit-step1-separator"><span>1</span></div>

        <div class="section-story-submit-step1-article">
            <form name="new" method="post" class="form">
                <input type="hidden" name="key" value="{{ link.key }}" />
                <input type="hidden" name="randkey" value="{{ link.randkey }}" />
                <input type="hidden" name="step" value="1" />
                <input type="hidden" name="type" value="link" />
 <h1>{% trans _('Пост') %}</h1>
                <p class="info">Напишите короткую заметку, историю...</p>
                <br> <button type="submit" class="btn btn-sg btn-lg">{% trans _('Пост') %}</button>
        </form></div> 

    <div class="section-story-submit-step1-separator"><span>2</span></div>

        <div class="section-story-submit-step1-article">
            <form method="post" class="form">
                <input type="hidden" name="key" value="{{ link.key }}" />
                <input type="hidden" name="randkey" value="{{ link.randkey }}" />
                <input type="hidden" name="step" value="1" />
                <input type="hidden" name="type" value="article" />

                <h1>{% trans _('Статья') %}</h1>
                <p class="info">Напишите здесь свою статью...</p>

        <br><button type="submit" name="type" value="article" class="btn btn-sg btn-lg">
      {% trans _('Статья') %}
                </button>
            </form>
        </div>
		
{% else %}{% endif %}

    </div>
</section>
